# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-generated
.DS_Store
Thumbs.db

# Logs / test artifacts
*.log
*.sqlite3
*.db
coverage/
htmlcov/
.mypy_cache/
.pytest_cache/

# Docker (si luego dockerizas)
*.img
*.pid
*.tar
